<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main" style="height: 100%">
        <form class="layui-form layui-form-pane" style="width: 60%;margin: auto;height: 100%"  lay-filter="example" id="example" onsubmit="return false;">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">菜单名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input"  >
                    </div>
                </div>
            </div>

            <div class="layui-form.-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="updateBtn">确认添加</button>
                    <button class="layui-btn" id="returnBtn">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery
            , miniPage = layui.miniPage;

        var getFormatDate = function(ndate) {
            var date = ndate.split("T")[0];
            return date;
        }
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期
        laydate.render({
            elem: '#birthday'
        });
        laydate.render({
            elem: '#inTime'
        });


        var parentIndex = layer.index;
        //监听提交
        form.on('submit(updateBtn)', function (data) {


            ajaxLayuiFrom("headmenu/addHeadmenu",data,function (res) {
                toolMsgAndClose();
                window.parent.brush();
                return false;
            })

            layer.close(parentIndex);
            return false;
        })


        $("#returnBtn").click(function () {
            layer.closeAll();
        })
    })




</script>