<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main" style="height: 100%">
        <form class="layui-form layui-form-pane" style="width: 60%;margin: auto;height: 100%" lay-filter="menuformUpdate" id="menuformUpdate" onsubmit="return false;">

            <div class="layui-form-item ">
                <div class="layui-inline layui-form" lay-filter="headmenuIdUpdate">
                    <label class="layui-form-label">头部菜单：</label>
                    <div class="layui-input-inline">
                        <select name="headmenuId" id="headmenuIdUpdate" lay-filter="selectHeadmenuId"  >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline layui-form" lay-filter = "sercondarymenuIdUpdate">
                    <label class="layui-form-label">下拉菜单</label>
                    <div class="layui-input-inline">
                        <select name="sercondarymenuId" id="sercondarymenuIdUpdate" lay-filter="aihao"  >
                            <!--                            <option value=""></option>-->
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <!--                <div class="layui-inline " >-->
                <label class="layui-form-label">菜单名称：</label>
                <div class="layui-input-block">
                    <input type="hidden" name = "id">
                    <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input"  >
                </div>
                <!--                </div>-->
            </div>
            <div class="layui-form-item">
                <!--                <div class="layui-inline " >-->
                <label class="layui-form-label">菜单地址：</label>
                <div class="layui-input-block">
                    <input type="text" name="href" lay-verify="required" autocomplete="off" class="layui-input"  >
                </div>
                <!--                </div>-->
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="updateBtn">确认修改</button>
                    <button class="layui-btn" lay-submit="" id="returnBtn">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script >
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery
            , miniPage = layui.miniPage;


        var getFormatDate = function(ndate) {
            var date = ndate.split("T")[0];
            return date;
        }
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        // form.render();

        //日期
        laydate.render({
            elem: '#birthday'
        });
        laydate.render({
            elem: '#date1'
        });

        var headmenuId = "[[${headmenuId}]]"
        var sercondarymenuId = "[[${sercondarymenuId}]]"
        ajaxNOParam("headmenu/getHeadmenuList",function (data) {
            let dh="";
            var obj = new Object();
            for (var i = 0;i<data.data.length;i++){
                if (data.data[i].id == headmenuId) {
                    dh+="<option selected value="+data.data[i].id+">"+data.data[i].title+"</option>"
                    obj.value = data.data[i].id;
                }else {
                    dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
                }
            }
            $("#menuformUpdate #headmenuIdUpdate").html(dh);
            form.render('select','headmenuIdUpdate');
            getsecondarymenuAjax(obj);
        })


        function getsecondarymenuAjax(data){
            var obj = new Object();
            obj['headmenuId'] = data.value;

            ajaxResult("secondarymenu/getSecondarymenuList",obj,function (data) {

                let dh="";
                for (var i = 0;i<data.data.length;i++){
                    if (data.data[i].id == sercondarymenuId){
                        dh+="<option selected value="+data.data[i].id+">"+data.data[i].title+"</option>"
                    }else {
                        dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
                    }
                }
                $("#menuformUpdate #sercondarymenuIdUpdate").html(dh);
                form.render('select','sercondarymenuIdUpdate');
            })


        }


        form.on('select(selectHeadmenuId)', function(data){
            getsecondarymenuAjax(data);
        });


        var sdata = new Object();
        sdata['id'] = "[[${id}]]";
        ajaxResult("menu/getMenu",sdata,function (data) {
            form.val('menuformUpdate', {
                "id" : data.data.id
                , "title": ""+data.data.title // "name": "value"
                , "href" : data.data.href
            })
        });


        var parentIndex = layer.index;
        //监听提交
        form.on('submit(updateBtn)', function (data) {
            ajaxLayuiFrom("menu/updateMenu",data,function (res) {
                toolMsgAndClose();
                window.parent.brush();
                return false;
            })

            layer.close(parentIndex);
            return false;
        })


        $("#returnBtn").click(function () {
            layer.closeAll();
        })
    })


</script>