<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main" style="height: 100%">
        <form class="layui-form" style="width: 60%;margin: auto;height: 100%"  lay-filter="menuformAdd" id="menuformAdd" onsubmit="return false;">


            <div class="layui-form-item ">
                <div class="layui-inline layui-form" lay-filter="headmenuIdAdd">
                    <label class="layui-form-label">头部菜单：</label>
                    <div class="layui-input-inline">
                        <select name="headmenuId" id="headmenuIdAdd" lay-filter="selectHeadmenuId"  >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline layui-form" lay-filter = "sercondarymenuIdAdd">
                    <label class="layui-form-label">下拉菜单</label>
                    <div class="layui-input-inline">
                        <select name="sercondarymenuId" id="sercondarymenuIdAdd" lay-filter="aihao"  >
                            <!--                            <option value=""></option>-->
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
<!--                <div class="layui-inline " >-->
                    <label class="layui-form-label">菜单名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input"  >
                    </div>
<!--                </div>-->
            </div>
            <div class="layui-form-item">
<!--                <div class="layui-inline " >-->
                    <label class="layui-form-label">菜单地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="href" lay-verify="required" autocomplete="off" class="layui-input"  >
                    </div>
<!--                </div>-->
            </div>
            <!--            <div class="layui-form-item">-->
            <!--                <label class="layui-form-label">菜单标签：</label>-->
            <!--                <div class="layui-input-block">-->
            <!--                    <select name="type" lay-filter="aihao"  >-->
            <!--                        <option value=""></option>-->
            <!--                        <option value="事假">事假</option>-->
            <!--                        <option value="病假" selected="">病假</option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="layui-form.-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="updateBtn">确认添加</button>
                    <button class="layui-btn" id="returnBtn">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery
            , miniPage = layui.miniPage;

        function toolMsgAndClose(msg) {
            // if(isEmpty(msg))
            // {
            msg = "成功";
            // }
            layer.closeAll();
            layer.msg(msg, {icon: 1});
        }
        var getFormatDate = function(ndate) {
            var date = ndate.split("T")[0];
            return date;
        }
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */

        //日期
        laydate.render({
            elem: '#birthday'
        });
        laydate.render({
            elem: '#inTime'
        });



        $.ajax({
            url:"../headmenu/getHeadmenuList",
            type:'post',
            // dataType: 'html',
            // data:data.f,
            async: true,
            dataType:'json',
            contentType: 'application/json;charset=UTF-8',
            success:function (data) {

                let dh="<option selected></option>";
                for (var i = 0;i<data.data.length;i++){
                    dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
                }
                $("#menuformAdd #headmenuIdAdd").html(dh);
                form.render('select','headmenuIdAdd');
            },
            error:function () {
                alert("数据传递错误，请刷新页面");
            }
        });


        function getsecondarymenuAjax(data){
            var obj = new Object();
            obj['headmenuId'] = data.value;
            $.ajax({
                url:"../secondarymenu/getSecondarymenuList",
                type:'post',
                // dataType: 'html',
                data:obj,
                async: true,
                dataType:'json',
                // contentType: 'application/json;charset=UTF-8',
                success:function (data) {

                    let dh="";
                    for (var i = 0;i<data.data.length;i++){
                        dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
                    }
                    $("#menuformAdd #sercondarymenuIdAdd").html(dh);
                    form.render('select','sercondarymenuIdAdd');
                },
                error:function () {
                    alert("数据传递错误，请刷新页面");
                }
            });


        }


        form.on('select(selectHeadmenuId)', function(data){
            getsecondarymenuAjax(data);
        });

       form.render('select','sercondarymenuIdAdd');


        var parentIndex = layer.index;
        //监听提交
        form.on('submit(updateBtn)', function (data) {

            $.ajax({
                url:"../menu/addMenu",
                type:'post',
                // dataType: 'html',
                data:JSON.stringify(data.field),
                dataType:'json',
                contentType : 'application/json',
                // dataType : 'json',
                // contentType: 'application/json;charset=UTF-8',
                success:function (data) {
                    //关闭弹框
                    toolMsgAndClose();
                    window.parent.brush();
                    return false;
                },
                error:function () {
                    alert("数据传递错误，请刷新页面");
                }
            })
            layer.close(parentIndex);
            return false;
        });


        // form.on('submit(returnBtn)', function (data) {
        //     layer.close(parentIndex);
        //     return true;
        // })


        //表单初始赋值
        // form.val('example', {
        //     "username": "贤心" // "name": "value"
        //     , "password": "123456"
        //     , "interest": 1
        //     , "like[write]": true //复选框选中状态
        //     , "close": true //开关状态
        //     , "sex": "女"
        //     , "desc": "我爱 layui"
        // })
        $("#returnBtn").click(function () {
            layer.closeAll();
        })
    })




</script>