<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main" style="height: 100%">
        <form class="layui-form layui-form-pane" style="width: 60%;margin: auto;height: 100%"  lay-filter="menuformAdd" id="menuformAdd" onsubmit="return false;">


            <div class="layui-form-item ">
                <div class="layui-inline layui-form" lay-filter="headmenuIdAdd">
                    <label class="layui-form-label">头部菜单：</label>
                    <div class="layui-input-inline">
                        <select name="headmenuId" id="headmenuIdAdd" lay-filter="selectHeadmenuId"  >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline layui-form" lay-filter = "sercondarymenuIdAdd">
                    <label class="layui-form-label">下拉菜单</label>
                    <div class="layui-input-inline">
                        <select name="sercondarymenuId" id="sercondarymenuIdAdd" lay-filter="aihao"  >
                            <!--                            <option value=""></option>-->
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
<!--                <div class="layui-inline " >-->
                    <label class="layui-form-label">菜单名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input"  >
                    </div>
<!--                </div>-->
            </div>
            <div class="layui-form-item">
<!--                <div class="layui-inline " >-->
                    <label class="layui-form-label">菜单地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="href" lay-verify="required" autocomplete="off" class="layui-input"  >
                    </div>
<!--                </div>-->
            </div>
            <div class="layui-form.-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="updateBtn">确认添加</button>
                    <button class="layui-btn" id="returnBtn">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery
            , miniPage = layui.miniPage;

        var getFormatDate = function(ndate) {
            var date = ndate.split("T")[0];
            return date;
        }
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */

        //日期
        laydate.render({
            elem: '#birthday'
        });
        laydate.render({
            elem: '#inTime'
        });


        ajaxNOParam("headmenu/getHeadmenuList",function (data) {
            let dh="<option selected></option>";
            for (var i = 0;i<data.data.length;i++){
                dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
            }
            $("#menuformAdd #headmenuIdAdd").html(dh);
            form.render('select','headmenuIdAdd');
        })

        function getsecondarymenuAjax(data){
            var obj = new Object();
            obj['headmenuId'] = data.value;
            ajaxResult("secondarymenu/getSecondarymenuList",obj,function (data) {
                let dh="";
                for (var i = 0;i<data.data.length;i++){
                    dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
                }
                $("#menuformAdd #sercondarymenuIdAdd").html(dh);
                form.render('select','sercondarymenuIdAdd');
            })


        }


        form.on('select(selectHeadmenuId)', function(data){
            getsecondarymenuAjax(data);
        });

       form.render('select','sercondarymenuIdAdd');


        var parentIndex = layer.index;
        //监听提交
        form.on('submit(updateBtn)', function (data) {
            ajaxLayuiFrom("menu/addMenu",data,function (res) {
                toolMsgAndClose();
                window.parent.brush();
                return false;
            })

            layer.close(parentIndex);
            return false;
        });


        $("#returnBtn").click(function () {
            layer.closeAll();
        })
    })




</script>