<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>ChikyCloud</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="../js/commonCSS.js" charset="utf-8"></script>
    <style id="layuimini-bg-color">
    </style>
</head>
<body class="layuimini-all">
    <div class="layui-layout layui-layout-admin">
        <div class="layuimini-container layuimini-page-anim">
            <div class="layuimini-main">

                <fieldset class="table-search-fieldset">
                    <legend>下拉菜单列表</legend>
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" lay-filter="secondarymenuform" id="secondarymenuform" onsubmit="return false;">
                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">头部菜单：</label>
                                    <div class="layui-input-block">
                                        <select name="headmenuId" id="headmenuId" lay-filter="aihao"  >
                                                <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">下拉菜单</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </fieldset>

                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加下拉菜单 </button>
                        <!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>-->
                    </div>
                </script>

                <table class="layui-hide" id="secondarymenu" lay-filter="currentTableFilter"></table>

                <script type="text/html" id="currentTableBar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
                </script>

            </div>
        </div>
    </div>
<script src="../js/commonJS.js" charset="utf-8"></script>
<script >
    layui.use(['form', 'table'  ,'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;


        ajaxNOParam("headmenu/getHeadmenuList",function (data) {
            var dh="<option selected></option>";
            for (var i = 0;i<data.data.length;i++){
                dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"
            }
            $("#secondarymenuform #headmenuId").html(dh);
            form.render('select','secondarymenuform');
        })


        table.render({
            elem: '#secondarymenu',
            id:'secondarymenu',
            url: '../secondarymenu/getSecondarymenuList',
            toolbar: '#toolbarDemo',
            title: '下拉菜单列表',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {type: 'numbers', title: '序号', width: 50 ,totalRowText: '合计'},
                    {field: 'htitle', width: 120, title: '头部菜单名称'},
                    {field: 'title', width: 120, title: '下拉菜单名称'},
                    {field: 'icon', width: 120, title: '菜单标签'},
                    {field: 'create_time', width: 180, title: '创建时间',templet:'<div>{{ layui.util.toDateString(d.create_time, "yyyy-MM-dd HH:mm:ss") }}</div>'},
                    {title: '操作', Width: 150, toolbar: '#currentTableBar'}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            // skin: 'line'
        });

        //搜索
        var $ = layui.jquery, active = {
            reload: function (data) {
                var obj = new Object();
                obj['headmenuId'] = data.headmenuId;
                obj['title'] = data.title;
                table.reload('secondarymenu', {
                    method: 'post',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: obj
                })
            }
        }

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = data.field;
            active.reload(result);

        });
        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                layuiWindowsOpenSublevel("添加菜单",'secondarymenu/addSecondarymenuHtml');

            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layuiWindowsOpenSublevel("编辑菜单",'secondarymenu/updateSecondarymenuHtml?id='+data.id+'&headmenuId='+data.headmenu_id);

                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });


    function brush() {
        layui.use(['table'],function () {
            var table = layui.table;
            table.reload('secondarymenu', {})
        })

    }
</script>
</body>
</html>
