<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>ChikyCloud</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="../js/commonCSS.js" charset="utf-8"></script>
    <style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
    <div class="layui-layout layui-layout-admin">
        <div class="layuimini-container layuimini-page-anim">
            <div class="layuimini-main" style="height: 100%">
                <form class="layui-form layui-form-pane" style="width: 60%;margin: auto;height: 100%" lay-filter="secondarymenuUpdate" id="secondarymenuUpdate" onsubmit="return false;">

                    <div class="layui-form-item">
                        <div class="layui-inline" >
                            <label class="layui-form-label">头部菜单：</label>
                            <div class="layui-input-block">
                                <select name="headmenuId" id="headmenuId" lay-filter="aihao"  >
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline " >
                            <label class="layui-form-label">菜单名称：</label>
                            <div class="layui-input-inline">
                                <input type="hidden" name="id">
                                <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input"  >
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="updateBtn">确认修改</button>
                            <button class="layui-btn" lay-submit="" id="returnBtn">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="../js/commonJS.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery;

        var getFormatDate = function(ndate) {
            var date = ndate.split("T")[0];
            return date;
        }
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期
        laydate.render({
            elem: '#birthday'
        });
        laydate.render({
            elem: '#date1'
        });

        var headmenuId = "[[${headmenuId}]]"
        ajaxNOParam("headmenu/getHeadmenuList",function (data) {
            var dh="";
            for (var i = 0;i<data.data.length;i++){
                if (data.data[i].id==headmenuId){
                    dh+="<option selected value="+data.data[i].id+" >"+data.data[i].title+"</option>"

                }else {
                    dh+="<option value="+data.data[i].id+">"+data.data[i].title+"</option>"

                }
            }
            $("#secondarymenuUpdate #headmenuId").html(dh);
            form.render('select','secondarymenuUpdate');
        })



        var sdata = new Object();
        sdata['id'] = "[[${id}]]";
        ajaxResult("secondarymenu/getSecondarymenu",sdata,function (data) {
            form.val('secondarymenuUpdate', {
                "id" : data.data.id
                , "title": ""+data.data.title // "name": "value"
            })
        })


        var parentIndex = layer.index;
        //监听提交
        form.on('submit(updateBtn)', function (data) {

            ajaxLayuiFrom("secondarymenu/updateSecondarymenu",data,function (res) {
                toolMsgAndClose();
                window.parent.brush();
                return false;
            })

            layer.close(parentIndex);
            return false;
        })


        $("#returnBtn").click(function () {
            layer.closeAll();
        })
    })


</script>
</body>
</html>