<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>ChikyCloud</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="../js/commonCSS.js" charset="utf-8"></script>
    <style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
<div class="layui-layout layui-layout-admin">
    <div class="layuimini-container layuimini-page-anim">
        <div class="container">
            <div class="row" >
                <div class="col-lg-2 col-md-2  col-sm-2 col-xs-3 showMap">
                    <div style="" class="table_s">
                        <table >
                            <thead>
                            <tr>
                                <td style="width: 60%">测量时间</td>
                                <td style="width: 20%">结果</td>
                                <td style="width: 150px">操作</td>
                            </tr>
                            </thead>
                        </table>
                        <table id="table_d">

                        </table>
                    </div>
                </div>


                <!--    地图显示-->
                <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5 showMap">
                    <div style="width: 100%;height:800px; ">
                        <div id="resultmap" ></div>
                    </div>
                </div>


<!--                    测量图形显示-->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 showMap">
                    <!--            <div style="width: 100%;height: 100%; ">-->
                    <div class="zkfont-size" style="font-family: 仿宋">全自动高精度北斗GPS面积测量仪</div>
                    <div style="width: 100%;height:56%;border: 1px solid #ccc;" id="graphic">
                        <canvas id="myCanvas" height="500">测量图形</canvas>
                    </div>
                    <div style="border: 1px solid #ccc;height:40.5%;width: 100%">
                        <span class="zkfont-size" >测量计算结果：</span>
                        <div class="zkfont-size" style="font-family: 仿宋" id="measure_result">
                            <p>时间：</p>
                            <p>面积：平方米</p>
                            <p>&nbsp;   &nbsp;   &nbsp; 亩</p>
                            <p>曲线：</p>
                            <p>直线：</p>
                        </div>
                    </div>
                    <!--            </div>-->
                </div>


                <!--    导出按钮-->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 showMap">
                    <div style="width: 100%;height: 100%; ">

                        <!--        单个文件导出-->
                        <div style="margin-top: 50px;">

                            <input type="hidden" id="machineNum"/>
                            <input class="buttons" type="button" id="exportKML" value="导出KML文件"/>

                            <input type="hidden" id="exportCADValue"/>
                            <input class="buttons" type="button" id="exportCAD" value="导出CAD文件"/>
                            <!--            <div id="exportKML">导出KML文件</div>-->
                            <!--            <div id="exportCAD">导出CAD文件</div>-->
                            <input type="hidden" id="exportExcelValue"/>
                            <input class="buttons" type="button" id="exportExcel" value="导出EXCEL文件"/>

                            <input class="buttons" type="button" id="exportImage" value="导出图片"/>

                        </div>
                        <!--        批量导出-->
                        <div style="margin: 30px auto;width: 100px;">

                            <input type="hidden" id="exportBatchValue"/>
                            <input class="buttons" type="button" id="exportBatchKML" value="批量导出KML文件"/>

                            <input class="buttons" type="button" id="exportBatchCAD" value="批量导出CAD文件"/>

                            <input class="buttons" type="button" id="exportBatchExcel" value="批量导出Excel文件"/>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/commonJS.js" charset="utf-8"></script>
<script>
    bdiduMap([]);
    function bdiduMap(measureds) {
        if (measureds.length > 0) {
            var list = [];
            for (var i = 0; i < measureds.length; i++) {
                list.push({Long: measureds[i].longitude, Lat: measureds[i].latitude});
            }
            var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
            var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
            var top_right_navigation = new BMap.NavigationControl({
                anchor: BMAP_ANCHOR_TOP_RIGHT,
                type: BMAP_NAVIGATION_CONTROL_SMALL
            });
            var listLast = list.length - 1;
            // 百度地图API功能
            var map = new BMap.Map("resultmap");    // 创建Map实例
            map.centerAndZoom(new BMap.Point(list[parseInt(list.length / 6)].Long, list[parseInt(list.length / 4)].Lat), 13);  // 初始化地图,设置中心点坐标和地图级别
            map.addControl(top_left_control);
            map.addControl(top_left_navigation);
            map.addControl(top_right_navigation);
            map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            // map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
            map.enableContinuousZoom();
            setTimeout(drawIcon, 500);


            var pointArray = new Array();
            for (var i = 0; i < measureds.length; i++) {
                pointArray.push(new BMap.Point(measureds[i].longitude, measureds[i].latitude))
            }

            var viewPort = map.getViewport(pointArray)
            map.centerAndZoom(viewPort.center, viewPort.zoom);

            var carMk;

            function drawGreenLine(i) {
                var polyline = new BMap.Polyline([
                    new BMap.Point(list[i].Long, list[i].Lat),//起始点的经纬度
                    new BMap.Point(list[i + 1].Long, list[i + 1].Lat)//终点的经纬度
                ], {
                    strokeColor: "red",//设置颜色
                    strokeWeight: 4, //宽度
                    strokeOpacity: 1
                });//透明度
                map.addOverlay(polyline);
            }

            //设置起点和终点坐标
            function drawIcon() {
                if (carMk) {
                    map.removeOverlay(carMk);
                }
                carMk2 = new BMap.Marker(
                    new BMap.Point(list[0].Long, list[0].Lat)//起始点的经纬度
                );
                map.addOverlay(carMk2);

                carMk = new BMap.Marker(
                    new BMap.Point(list[listLast].Long, list[listLast].Lat)//终点的经纬度
                );
                map.addOverlay(carMk);

                for (var i = 0; i < list.length - 1; i++) {
                    drawGreenLine(i);
                }
            }
        } else {
            var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
            var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
            var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL});
            var map = new BMap.Map("resultmap");    // 创建Map实例
            map.centerAndZoom(new BMap.Point(103.404, 34.915),5);
            // map.addControl(new BMapGL.MapTypeControl());   //添加地图类型控件
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            // map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
            map.enableContinuousZoom();
            map.addControl(top_left_control);
            map.addControl(top_left_navigation);
        }
    }

    /**
     * 转换时间格式
     * */
    function date(data) {
        var date = new Date(data)
        var Y = date.getFullYear() + '-'
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-'
        var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' '
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':'
        var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':'
        var s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
        return Y + M + D + h + m + s
    }

    /**
     * 测量图形进行赋值画线
     * @param measureds
     * @constructor
     */
    function MeasurementPatten(measureds) {
        var points=[];
        for (var i=0;i<measureds.length;i++){
            var point = {};
            // point.Name = 'pt'+i;
            point.L = measureds[i].longitude;
            point.B = measureds[i].latitude;
            points.push(point);
        }
        //画图
        draw(points)
    }


    /**
     * 点击切换地图图形
     */
    var zk_zid="";
    function trClick(resultId,n) {
        if (resultId!=zk_zid){
            zk_zid=resultId;
            var trs = $(".table_s table tr").parent().find('tr');
            if (trs.hasClass('on_tr')){
                trs.removeClass('on_tr');
            }
            $(trs[n+1]).addClass('on_tr');

            var obj = new Object();
            obj['id'] = resultId;
            obj['machineNum'] = $("#machineNum").val();
            debugger
            ajaxResult("ZkScoketGPSDataPackage/getMachineMeasureGPSData",obj,function (res) {
                var coordinate = res.data;
                var coordinate2 = res.data2;
                if (res.code==0){
                    bdiduMap(res.data);
                    MeasurementPatten(res.data);
                }else {
                    alert(res.msg);
                }

                var mea = "<p>时间："+date(coordinate2.startTime)+"</p>\n" +
                    "                <p>面积："+coordinate2.measureArea+"亩</p>\n" +
                    // "                <p>&nbsp;   &nbsp;   &nbsp; "+coordinate[0].meas_munum+"亩</p>\n" +
                    "                <p>路程："+coordinate2.measureJourney+"米</p>\n" +
                    // "                <p>直线："+coordinate[0].line+"米</p>";
                    "                <p>深松深度："+coordinate2.totalWeight+"cm</p>"
                $("#measure_result").html(mea);


                // $("#exportKMLValue").val(zid);
                // $("#exportCADValue").val(zid);
                // $("#exportExcelValue").val(zid);
            })

        }else {
            return;
        }
    }



    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery
            ;
        var machineNum = "[[${machineNum}]]";
        $("#machineNum").val(machineNum);
        var sdata = new Object();
        sdata['machineNum'] = machineNum;
        ajaxResult("ZKSocketMeasureResult/getSocketMeasureResultList",sdata,function (data) {
            var res = data.data;
            var trHtml = "";
            if (res.length>0){
                for (var i =0 ;i<res.length;i++){
                    trHtml+="<tr id='remtr_"+i+"' ondblclick='trClick(\"" + res[i].id + "\","+i+")'>\n" +

                        "                <td style=\"width: 60%\">" + date(res[i].startTime) + "</td>\n" +
                        "                <td style=\"width: 20%\" align=\"right\">" + res[i].measureArea + "亩</td>" +
                        "                <td style=\"width: 150px\"><button onclick='removeClick(\"" + res[i].id+"\","+i+" )' class='delBtn' >删除</button></td>\n" +
                        "            </tr>"

                }
                $("#table_d").html(trHtml);
            }
        })

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期时间选择器
        laydate.render({
            elem: '#measureTime'
            ,type: 'datetime'
        });

        $("#returnBtn").click(function () {
            layer.closeAll();
        })

    })
    function removeClick(resultId,n){
        layui.use(['form', 'layedit', 'laydate'], function () {
            var layer = layui.layer
            // this.remove();
            var resobj = new Object();
            resobj['id'] = resultId;
            layer.confirm('删除该记录后将无法查询该测量结果，是否删除', function(index){
                    ajaxResult("ZKSocketMeasureResult/deleteSocketMeasureResultById",resobj,function (res) {
                        //删除页面上对应的数据
                        $("#remtr_"+n).remove();
                        toolMsgAndCloseNocpm();
                        layer.close(index);
                    })
                })
        });
    }
</script>
</body>
</html>